# Managed by Terraform for Project Syn cluster ${cluster_id}
profile_openshift4_gateway::nodes:
%{ for node in nodes ~}
  - ${node}
%{ endfor ~}
profile_openshift4_gateway::public_interface: eth0
profile_openshift4_gateway::private_interfaces:
  - eth1
profile_openshift4_gateway::floating_addresses:
  api: ${api_ip}
  router: ${router_ip}
profile_openshift4_gateway::floating_address_provider: exoscale
profile_openshift4_gateway::floating_address_settings:
  key: ${api_key}
  secret: ${api_secret}
profile_openshift4_gateway::backends:
  'api':%{ if length(backends["api"]) == 0 && bootstrap_node == "" } []%{ endif }
%{ for be in backends["api"] ~}
    - ${be}
%{ endfor ~}
%{ if bootstrap_node != "" ~}
    - ${bootstrap_node}
%{ endif ~}
  'router':%{ if length(backends["router"]) == 0 } []%{ endif }
%{ for be in backends["router"] ~}
    - ${be}
%{ endfor ~}
