vrrp_instance eth1 {
  interface                 eth1
  state                     BACKUP
  virtual_router_id         100
  priority                  ${prio}
  advert_int                3
  garp_master_delay         5

  garp_master_refresh         30


  notify /etc/floaty/eth1.wrapper


  authentication {
    auth_type PASS
    auth_pass insec_0
  }


  virtual_ipaddress {
    ${api_ip}/32 dev eth0
    ${router_ip}/32 dev eth0
%{if api_int}
    ${api_int_ip}/32 dev eth1
    ${gw_int_ip}/32 dev eth1
%{endif}
  }

  unicast_peer {
    ${peer_ip}
  }
}
